@model PagedList.IPagedList<PollPlus.Domain.Empresa>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Listar Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="">

            @Html.ActionLink("Nova Empresa", "NovaEmpresa", "Empresa", null, new { @class = "btn btn-info" })

            <br />
            <div class="header">
                <h3>Listagem das Empresas Cadastradas</h3>
            </div>

            <div class="content">
                <div class="table-responsive">
                    <div role="grid" class="dataTables_wrapper form-inline" id="datatable_wrapper">
                        <table id="datatable" class="table table-bordered dataTable" aria-describedby="datatable_info">
                            <thead>
                                <tr role="row">
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 232px;" aria-label="">
                                        <strong>ID</strong>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 232px;" aria-label="">
                                        <strong>Nome</strong>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 232px;" aria-label="">
                                        <strong>Documento</strong>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 232px;" aria-label="">
                                        <strong>Data da Criação</strong>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 232px;" aria-label="">
                                        <strong>Qtde Push</strong>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 232px;" aria-label="">
                                        <strong>SubDominio</strong>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="">
                                    </th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">

                                @foreach (var _empresa in Model)
                                {
                                    <tr class="gradeA odd">
                                        <td class=" ">@_empresa.Id</td>
                                        <td class=" ">@_empresa.Nome</td>
                                        <td class=" ">@_empresa.Documento.Numero</td>
                                        @*<td class=" ">@_usuario.DataAtualizacao.Value.ToShortDateString()</td>*@
                                        <td class=" ">@_empresa.DataCriacao.ToShortDateString()</td>
                                        <td class=" ">@_empresa.QtdePush</td>
                                        <td class=" ">@_empresa.SubDominio</td>
                                        <td class="center ">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-xs">Ações</button>
                                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="@Url.Action("EditarEmpresa", "Empresa", new { empresaId = _empresa.Id })">Alterar</a></li>
                                                    <li><a href="javascript: if(confirm('Deseja remover esta empresa?')) {window.location.href='@Url.Action("RemoverEmpresa", "Empresa", new { empresaId = _empresa.Id })';}">Remover</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @Html.PagedListPager(Model, page => Url.Action("ListarEmpresas", "Empresa", new { pagina = page }),
            new PagedListRenderOptions
            {
                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                Display = PagedListDisplayMode.IfNeeded,
                LinkToNextPageFormat = "Próximo",
                LinkToPreviousPageFormat = "Anterior"
            })
        </div>
    </div>
</div>