@model IEnumerable<MapViewModel>

@using System.Globalization;
@using PollPlus.Models;
@using Jmelosegui.Mvc.Googlemap;
@using Jmelosegui.Mvc.Googlemap.Objects;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" style="padding-bottom: 2%;">

    <div>
        <span> Quantidade de pessoas dentro da área de alcance:</span><span id="countPessoas"> @ViewData["countPessoas"]</span>
    </div>

    @{

        double Lat = Convert.ToDouble(ViewData["Lat"]);
        double Long = Convert.ToDouble(ViewData["Long"]);
        int raio = Convert.ToInt32(ViewData["Raio"]);

        if (Model == null)
        {
            <p>Nenhum informação Encontrada.</p>
        }
        else
        {

            var latInicial = Model.First().Latitude;
            var LongInicial = Model.First().Longitude;

            Html.GoogleMap()
                .Name("map")
                .Culture(CultureInfo.CurrentCulture)
                .Height(600)
                .Center(c => c.Latitude(Lat)
                              .Longitude(Long))
                .Zoom(10)
                .BindTo<MapViewModel, Marker>
                (Model, mappings => mappings.For<MapViewModel>
                            (
                                binding => binding.ItemDataBound
                                    (
                                        (marker, markerModel) =>
                                        {
                                            marker.Latitude = markerModel.Latitude;
                                            marker.Longitude = markerModel.Longitude;
                                            marker.Title = "Coordenadas por Usuário";
                                            marker.zIndex = 0;
                                            marker.Icon = new MarkerImage(Url.Content(String.Format("{0}{1}", "~/Content/images/", markerModel.Icon)),
                                                new System.Drawing.Size(32, 32),
                                                new System.Drawing.Point(0, 0),
                                                new System.Drawing.Point(0, 32));
                                            marker.Window = new InfoWindow(marker)
                                            {
                                                Template =
                                                                {
                                                                Content = () => ViewContext.Writer.Write(string.Format("<span>{0}</span><br /><span style:\"font-weight:bold\">{1}</span>", markerModel.Nome, markerModel.Endereco))
                                                                }
                                            };
                                        }
                                    )
                            )
                ).Circles(cf =>
                {
                    cf.Add()
                   .Center(new Location(Lat, Long))
                   .Radius(raio)
                   .FillColor(System.Drawing.Color.Red)
                   .StrokeColor(System.Drawing.Color.DarkBlue)
                   .StrokeWeight(4);
                })
                .Render();
        }
    }

    @using (Html.BeginForm("Sonar", "Mapa", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.Label("Latitude", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBox("Latitude")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Longitude", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBox("Longitude")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Distância", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBox("Raio")
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary cancel" type="submit">Pesquisar</button>
            </div>
        </div>
    }

</div>
@*<script src="~/Scripts/jquery-2.1.3.min.js"></script>*@

@section Scripts{
    @(Html.GoogleMap().ScriptRegistrar())

    <script>
        $(function () {

            $('#Latitude').keydown(function (index,element) {

                var tt = $('#Latitude').val();


                $('#Latitude').val(tt.replace(/\./g, ','));

            });

            $('#Longitude').keydown(function () {

                var tt = $('#Longitude').val();

                $('#Longitude').val(tt.replace(/\./g, ','));

            });

        });

        function RefreshContadorPessoas() {
            setInterval(function () { CallAjax, 5000 });
        }

        function CallAjax() {
            var latitude = $('#Latitude').val();
            var longitude = $('#Longitude').val();
            var raio = $('#Raio').val();

            $.get(@Url.Action("AtualizaContadorMapaPessoas","Mapa"),{Latitude: latitude, Longitude: longitude, Raio: raio}, function(data){

                $('#countPessoas').html(data);

            } );
        }

    </script>
}