@model PagedList.IPagedList<PollPlus.Domain.Enquete>
@using PagedList.Mvc;
@using PollPlus.Domain.Enumeradores;

@{
    ViewBag.Title = "Listar Mensagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="">

            @Html.ActionLink("Nova Mensagem", "NovaMensagem", "Mensagem", null, new { @class = "btn btn-info" })

            <br />
            <div class="header">
                <h3>Listagem das Mensagems Cadastradas</h3>
            </div>

            <div class="content">
                <div class="table-responsive">
                    <div role="grid" class="dataTables_wrapper form-inline" id="datatable_wrapper">
                        <table id="datatable" class="table table-bordered dataTable" aria-describedby="datatable_info">
                            <thead>
                                <tr role="row">
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 232px;" aria-label="">
                                        <strong>Titulo</strong>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 232px;" aria-label="">
                                        <strong>Data da Criação</strong>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 232px;" aria-label="">
                                        <strong>Status</strong>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="">
                                    </th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">

                                @foreach (var _enquete in Model.Where(x => x.PerguntaId == null))
                                {
                                    <tr class="gradeA odd">
                                        <td class=" ">@_enquete.Titulo.</td>
                                        <td class=" ">@_enquete.DataCriacao</td>
                                        <td class=" ">@_enquete.Status.GetDescription()</td>
                                        <td class="center ">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-xs">Ações</button>
                                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="@Url.Action("EditarMensagem", "Mensagem", new { enqueteId = _enquete.Id })">Alterar</a></li>
                                                    <li><a href="javascript: if(confirm('Deseja Desabilitar esta Mensagem?')) {window.location.href='@Url.Action("DespublicarEnquete", "Enquete", new { enqueteId = _enquete.Id })';}">Desabilitar</a></li>
                                                    <li><a href="javascript: if(confirm('Deseja Publicar esta Mensgem?')) {window.location.href='@Url.Action("PublicarEnquete", "Enquete", new { enqueteId = _enquete.Id })';}">Publicar</a></li>
                                                    <li><a href="javascript: if(confirm('Deseja Encerrar esta Mensagem?')) {window.location.href='@Url.Action("DesativarEnquete", "Enquete", new { enqueteId = _enquete.Id })';}">Encerrar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @Html.PagedListPager(Model, page => Url.Action("ListarEnquetes", "Enquete", new { pagina = page }),
            new PagedListRenderOptions
            {
                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                Display = PagedListDisplayMode.IfNeeded,
                LinkToNextPageFormat = "Próximo",
                LinkToPreviousPageFormat = "Anterior"
            })
        </div>
    </div>
</div>