@model PollPlus.Models.EnqueteViewModel

@{
    ViewBag.Title = "Nova Mensagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <h3>Cadastro de Nova Notícia</h3>
</div>

<div class="content">
    @using (Html.BeginForm("NovaMensagem", "Mensagem", FormMethod.Post, new { role = "form", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Titulo, "Título", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Titulo, new { placeholder = "Título", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Titulo)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.UrlVideo, "URL para Vídeo", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.UrlVideo, new { placeholder = "URL do vídeo", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.UrlVideo)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.file, "Imagem", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.file, new { type = "file" })
                @Html.ValidationMessageFor(x => x.file)
                <span style="font-size:9px;font-weight:bold">Tamanho permitido é 640 x 325 pixels</span>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Categorias", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.Partial("_MultiSelectCategorias")
            </div>
        </div>
        @*<div class="form-group">
            @Html.Label("Tipo", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(x => x.Tipo, "Selecione uma opção")
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        </div>
    }
</div>
