@model PollPlus.Models.EnqueteViewModel

@{
    ViewBag.Title = "Nova Enquete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <h3>Cadastro de Nova Enquete</h3>
</div>

<div class="content">
    @using (Html.BeginForm("NovaEnquete", "Enquete", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
    <div class="form-group">
        @Html.LabelFor(x => x.Pergunta.TextoPergunta, "Título", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Pergunta.TextoPergunta, new { placeholder = "Título", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Pergunta.TextoPergunta)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Criar Respostas</button>
        </div>
    </div>
    }
</div>

@if (Model != null && Model.Id > 0)
{
    <div class="header">
        <h3>Respostas</h3>
    </div>

    using (Html.BeginForm("SalvaRespostas", "Enquete", FormMethod.Post, new { role = "form" }))
    {
        @Html.HiddenFor(x => x.Pergunta.Id, new { name = "Pergunta" });
        @Html.HiddenFor(x => x.Pergunta.TextoPergunta, new { name = "Pergunta" });

        <div class="row">
            <div id="respostas" class="content">
                @{Html.RenderPartial("_EnqueteRespostas");}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a class="btn btn-primary" id="btnNovaResposta">Nova Resposta</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit">Gravar Respostas</button>
                </div>
            </div>
        </div>
                        }
                    }
@section Scripts{
    <script type="text/javascript">

        $("#btnNovaResposta").click(function () {

            var html = $("#novaRespostas").clone();
            $('input[id="resposta"]', html).val("");

            $("#respostas").append(html);
        });

        function Remover(obj) {
            $(obj).parent().parent().remove();
        }

    </script>
}
